
<!-- Include Head -->
<head>
	<%- include('./partials/head') %>  
</head>

	<body>
		<%- include('./partials/header') %>
				
				<div class="container products-wrapper">
					<div class="d-flex align-items-center">
						<h2 class="products-title"><%= computadoras.nombre %> </h2> 
						<p class="product-detail-description">
							<a href="/product-add"></a>
						</p>
						
	
					</div>
					<div class="product-detail">
						<div class="row">
							<article class="col-12 col-lg-8 product-detail-info">
								<img src="/compusImg/<%=computadoras.imagen%>" alt=".product-detail-img">
								<p class="product-detail-price">Precio : <%= computadoras.precio %></p>
								<p class="product-detail-description"><%= computadoras.descripcion %> </p>
							</article>
							<div class="col-12 col-lg-4">
								<section class="comments">
									<article>
										<img src="/" alt="userIcon">
										<div class="data">
											<p class="user">
											<strong> <a href="">Gena Gandolfo</a> </strong>
											Muy buen producto</p>
											<p class="user">									
										</div>
									</article>
									<article>
										<img src="/" alt="userIcon">
										<div class="data">
											<p class="user">
											<strong> <a href="">Fran Taylor</a> </strong>
											Espectacular! muy recomendable</p>
											<p class="user">									
										</div>
									</article>
									<article>
										<img src="/" alt="userIcon">
										<div class="data">
											<p class="user">
											<strong> <a href="">Tomas Jarsun</a> </strong>
											gran precio!!</p>
											<p class="user">									
										</div>
									</article>
									<article>
										<img src="/" alt="userIcon">
										<div class="data">
											<p class="user">
											<strong> <a href="">Daniel Fuentes</a> </strong>
											muy buenas fotos chicos!</p>
											<p class="user">									
										</div>
									</article>
									
			
			
								</section>
								<form class="form" action="" method="POST">
									<input class="form-input" type="text" value="" placeholder="Agregar comentario">
									<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
								</form>
								<hr>
							</div>
						</div>
					</div>
				</div>
	
				<%- include('./partials/footer') %>
	
	</body>