<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<head>
	<%- include('./partials/head') %>  
</head>

	<body>
		<%- include('./partials/header') %>
				<body>
					<main class='container'>
						<section class="products">
							<ul>
								
							</ul>
						</section>
					</main>
					
				</body>
		
		<!--
				<div class="container products-wrapper">
					<div class="d-flex align-items-center">
						<h2 class="products-title"><%= computadoras.nombre %> </h2> 
						<p class="product-detail-description">
							<a href="/users/product-add"> <p>Agrega un Producto</p> </a>
						</p>
					</div>

					<div class="product-detail">
						<div class="row">
							<article class="col-12 col-lg-8 product-detail-info">
								<img src="/compusImg/<%=computadoras.imagen%>" alt=".product-detail-img">
								<p class="product-detail-price">Precio : <%= computadoras.precio %></p>
								<p class="product-detail-description"><%= computadoras.descripcion %> </p>
								<a href="/users/profile"><p class="creado"> Creado por: Genaro Gandolfo </p> </a>
							</article>
							<div class="col-12 col-lg-4">
								<section class="comments">
									<article>
										<img src="/images/users/gg.png" alt="userIcon">
										<div class="data">
											<p class="user">
											<strong> <a href="/users/profile">Gena Gandolfo</a> </strong>
											Muy buen producto</p>
											<p class="user">									
										</div>
									</article>
									<article>
										<img src="/images/users/ft.png" alt="userIcon">
										<div class="data">
											<p class="user">
											<strong> <a href="/users/profile">Fran Taylor</a> </strong>
											Espectacular! muy recomendable</p>
											<p class="user">									
										</div>
									</article>
									<article>
										<img src="/images/users/tj.png" alt="userIcon">
										<div class="data">
											<p class="user">
											<strong> <a href="">Tomas Jarsun</a> </strong>
											gran precio!!</p>
											<p class="user">									
										</div>
									</article>
									<article>
										<img src="/images/users/df.png" alt="userIcon">
										<div class="data">
											<p class="user">
											<strong> <a href="">Daniel Fuentes</a> </strong>
											muy buenas fotos chicos!</p>
											<p class="user">									
										</div>
									</article>
								</section>

								<form class="form" action="" method="POST">
									<input class="form-input" type="text" value="" placeholder="Agregar comentario">
									<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
								</form>
							</div>
						</div>
					</div>
				</div>
	-->
		<%- include('./partials/footer') %>
	</body>
</html>